# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Xcode build outputs
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives
*.xcarchive

# Provisioning profiles
*.mobileprovision

# Environment files
.env
.env.*
